body,
html {
  font-family: "Open Sans", sans-serif;
  /* background-color: rgba(240, 240, 240, 0.9); */
  background-color: white;
}
.app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}
.title,
footer {
  font-family: "arial", sans-serif;
  padding: 10px;
  text-align: center;
  background-color: #090c9b;
  color: white;
}
.title-info {
  font-weight: 900;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.search-form {
  background-color: #eaf6ff;
  padding: 10px;
  text-align: center;
}
.flag-img {
  height: auto;
  /* border: solid 5px rgba(230, 230, 230, 0.7); */
  border: solid 1px rgba(0, 0, 0, 0.267);
}
.extra-info {
  padding-top: 5%;
}

.results {
  margin: 20px;
}
